:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6D6D6;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}
ul {
    list-style: none;
}

/*header*/
.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #D6D6D6;
    box-shadow: 1px 1px 5px 0px ;
    /* border: 1px solid red; */
}

/*logo*/

.logo {
    display: inline-block;
    color: #492201;
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
}

/*nav menu*/
.nav {
    width: 100%;
    height: 35%;
    position: fixed;
    overflow: hidden;
    background-color: #D6D6D6;
    /* box-shadow: 1px 1px 1px; */
}

.menu a {
    display: block;
    padding: 17px;
    color: #7C3F00;
    
}




.menu a:hover {
    background-color: #7C3F00;
    color: #FFFFFF;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 29px 19px;
}

.hamb-line {
    background-color: #492201;
    display: block;
    height: 2px;
    position: relative;
    width: 20px;
}

.hamb-line::before, .hamb-line::after {
    background-color: #492201;
    content: " ";
    display: block;
    height: 90%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* main content */
.contain {
    width: 70%;
    margin: auto;
    background-color: #9B95A0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

/* row 1 content */

.avatar {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    /* padding: 20px; */
    margin-left: 22%;
}
.avat {
    height: 50%;
    width: 50%;
    margin-top: 16%;
    border-radius: 1px 1px 1px 110px;
    box-shadow: 20px -19px #85888C;
}


/*Row 2 content */ 
.description {
    /* border: 1px solid blue; */
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: 25px;
    /* display: contents; */
}

p {
    padding: 15px;
}





.rat {
    text-align: center;
    display: none;
}

.rat1 {
    text-align: center;
}


/* RESPONSIVENESS */
@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .hamb {
        display: none;
    }

    /* main content */
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
        padding: 4px;
        margin: 1px;
        /* background-color: #595a5e; */
    }
    .avatar::after .description::after {
        padding: 20px;
        align-items: center;
    }


    .avatar {
        object-fit: fill;
        max-width: 336px;
    }
    .avat {
        height: 66%;
        margin-top: 2%;
        max-width: 200px;
        object-fit: cover;
    }

    p {
        text-align: center;
        margin-right: 5%;
        /* padding-top: 25%; */
    }

    .rat {
        text-align: start;
        display: flex;
    }

    .rat1 {
        display: none;
    }
}