:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6D6D6;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}
ul {
    list-style: none;
}

/*header*/
.header {
    position: sticky;
    top: 0;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #D6D6D6;
    box-shadow: 1px 1px 5px 0px ;
}

/*logo*/

.logo {
    display: inline-block;
    color: #492201;
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
}

/*nav menu*/
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

.menu a {
    display: block;
    padding: 18px;
    color: #7C3F00;
    
}




.menu a:hover {
    background-color: #7C3F00;
    color: #FFFFFF;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 29px 19px;
}

.hamb-line {
    background-color: #492201;
    display: block;
    height: 2px;
    position: relative;
    width: 20px;
}

.hamb-line::before, .hamb-line::after {
    background-color: #492201;
    content: " ";
    display: block;
    height: 90%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* main content */


/* row 1 content */

.avatar {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.avat {
    height: 50%;
    width: 50%;
    border-radius: 1px 1px 1px 110px;
    box-shadow: 20px -19px #85888C;
}

/*row 2 content*/

.description {
    border: 1px solid blue;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: 25px;
}

.box {
    border: 1px solid green;
    margin: 1px 1px;
    display: block;
    align-items: center;
    
}

.blue {
    /* border: 1px solid blue; */
    margin: 14px 59px 16px 59px;
    box-shadow: -5px 7px #85888C;
    background-color: #FFFFFF;
}

#callblue {
    height: 5%;
    width: 5%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-top: 15px;
    padding-bottom: 15px;
}

h2, strong, p {
    display: flex;
    justify-content: center;
    padding-bottom: 1px;
    
}

hr {
    
    transform: translateX(54%);
    width: 50%;
}

.facebook {
    height: 10%;
    width: 10%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-top: 15px;
    padding-bottom: 15px;
    color: blue;
}

/* RESPONSIVENESS */
@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .hamb {
        display: none;
    }

    /* main content */
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
        padding: 4px;
        margin: 1px;
    }
    .description {
        margin: 0%;
        padding-top: 30%;
        padding-bottom: 14%;
    }
    .avatar::after .description::after {
        padding: 20px;
        align-items: center;
    }

    .avat {
        height: 50%;
        margin: 28%;
        object-fit: cover;
    }
    .blue {
        background-color: #FFFFFF;
        /* border: 1px solid blue; */
        margin: 14px 230px 16px 230px;
        
    }
}